// COLOR VARIABLES
$color-primary: #2a87c5;
$color-primary-light: #0da8d8;
$color-primary-svg: invert(43%) sepia(78%) saturate(551%) hue-rotate(161deg)
    brightness(92%) contrast(83%);

$color-primary-dark: #005d97;

$color-secondary: #020d1f;

$color-grey-light-1: #f7f9fb;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #5e6e5a;
$color-grey-dark-2: #00928b;

$color-white: white;
$color-black: black;

$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;
