.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 4rem;
}

.nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    gap: 2rem;

    &__link:link,
    &__link:visited {
        font-size: 1.6rem;
        color: $color-white;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        display: block;
        text-align: center;
        padding: 1.5rem;
        transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba($color-primary, 0.1)
    }
}

.copyright{
    font-size: 1.4rem;
    color: $color-grey-dark-1;
    margin-top: 4rem;
    text-align: center;
}
