.adoption {
    grid-column: col-start 7 / full-end;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.2),
        rgba($color-primary-light, 0.5)
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1/ -1;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }

    &__header {
        font-size: 3rem;

        @media only screen and (max-width: $bp-medium) {
            grid-row: 1/1;
            grid-column: 1 / -1;
            margin: 2rem auto;
        }
    }
}
